.custom-node {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.custom-node-header {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  background-color: aquamarine;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px;
}

.custom-node-content {
  padding: 2px;
}

.custom-node-text {
  font-size: 14px;
}
